@model RegisterViewModel

@if (Model?.ErrorMessage is not null)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="email" name="email" class="form-control" />
        <label class="form-label" for="email">Email address</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
        <label class="form-label" for="confirmPassword">Confirm password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Register</button>
</form>